@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container { 
  width: 1400px;   
  height: 700px; 
}

.marker-cluster-small {
  background-color: rgba(54, 181, 62, 0.8);
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid white;
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.8);
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.8);
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid white;
}

.leaflet-popup-content{
    margin: 0 !important;
    padding: 0 !important;
}

.leaflet-popup-content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }


.btn-default {
  @apply flex justify-center items-center text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-sm px-4 py-3 text-center mb-2 cursor-pointer;
}

